.entry{
    display: flex;
    flex-direction: row;
    margin: 16px;
    text-decoration: none;
    color: rgb(132,132,168);
}

.entry > p {
    margin-right: 20px;
    margin-left: 8px;
}

.entry:first-child {
    margin-left: 20px;
}

.active {
    color: white;
}