.menuItem{
    display: flex;
    flex-direction: row;
}

.menuItem > p {
    margin-right: 20px;
    margin-left: 8px;
}

.menuItem:first-child {
    margin-left: 20px;
}

.inactive {
    color: rgb(132,132,168);
}