.item, .middleItem {
    width: 100%;
    justify-content: flex-end;
    flex-direction: row;
    display: flex;
}

.middleItem {
    margin: 16px auto;
}

.middleItem > section {
    display: flex;
    margin: auto 8px auto auto;
}

.middleBlock{
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}

.constructorBlock {
    min-height: 300px;
    width: 565px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.summary {
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;
    flex-direction: row;
}

.info {
    margin: auto 40px auto auto;
    display: flex;
    flex-direction: row;
}

.info > svg {
    margin: auto;
}